{% extends "basic_layout.html" %}

{% block title %}Kontakt{% endblock %}

{% block app_content %}
    <h1>Kontakt</h1>
    <p>Wir sind ein rein privates Projekt zur Förderung von mathematikinteressierten Jugendlichen. Genaueres dazu findet
        man in <a href="{{ url_for("aufgaben_ci.serve_project") }}">unserer Projektbeschreibung</a>.</p>
    <p>Bei weiteren Fragen kann man sich gerne unter <a href="mailto:nics-lohr@gmx.de">nics-lohr@gmx.de</a> an Nicholas
        Schwab wenden.</p>
{% endblock %}