{% extends "basic_layout.html" %}

{% block app_content %}
    <h1>Hallo{% if current_user.username %}, {{ current_user.username }}.{% endif %}</h1>

    <ul>
        {% if not current_user.is_authenticated %}
            <li><a href="/login">Anmelden</a></li>
            <li><a href="/register">Registrieren</a></li>
        {% else %}
            <li><a href="/logout">Abmelden</a></li>
            <li><a href="/change_password">Passwort ändern</a></li>
        {% endif %}

        {% if current_user.is_admin() %}
            <li><a href="/admin">Admin-Panel</a></li>
        {% endif %}

        <li><a href="/upload">Lösung hochladen</a></li>
    </ul>
{% endblock %}
