{% extends "basic_layout.html" %}

{% block title %}Bearbeitung {{ sub.id }}{% endblock %}

{% set parent=url_for("upload.my_submissions") %}
{% block app_content %}
    <h1>Bearbeitung {{ sub.id }}</h1>
    <p>Abgegeben am {{ sub.get_upload_time() }} von {{ sub.author.username }}</p>
    <p><b>Status:</b> {{ sub.status() }}</p>
    {% if sub.points is not none %}
        <p><b>Punkte:</b> {{ sub.review.points }}</p>
    {% endif %}
    <p><b><a href={{ sub.fileurl }}>Datei</a></b></p>
    <p><b>Notizen:</b></p>
    <p>{{ sub.notes }}</p>
{% endblock %}
