{% extends "basic_layout.html" %}

{% block app_content %}
    <dl>
        {% for user in user_list %}
            <dt>
                {{ user.username }} {% if not user.active %} inactive {% endif %}
            </dt>
            <dd>
                <form action="{{ url_for("admin.ban") }}" method="post">
                    <button class="btn btn-link" type="submit" name="user" value="{{ user.id }}">Ban</button>
                </form>
                <form action="{{ url_for("admin.add_role") }}" method="post">
                    <input type="hidden" value="{{ user.id }}" name="user_id">
                    <select name="role_id">
                        {% for i in role_list %}
                            <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn">Rolle hinzufügen</button>
                </form>
            </dd>
        {% endfor %}
    </dl>
{% endblock %}
