{% extends "basic_layout.html" %}

{% block app_content %}
    <h1>Aktuelle Bearbeitungen</h1>
    <table class="table">
        <thead>
        <th>Bearbeitungsid</th>
        <th>Hochgeladen am</th>
        <th>korrigiert</th>
        <th>Url</th>
        <th>Review</th>
        </thead>
        <tbody>
        {% if submissions %}
            {% for sub in submissions %}
                <tr>
                    <td>{{ sub.id }}</td>
                    <td>{{ sub.upload_time }}</td>
                    <td>{% if sub.review is not none %}{{ sub.review.reviewer.username }}{% else %}Nein{% endif %}</td>
                    <td><a href="{{ sub.fileurl }}">Datei</a></td>
                    <td><a href="/review?submission_id={{ sub.id }}">Review</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
