{% extends "basic_layout.html" %}

{% block app_content %}
    <h1>Aktuelle Bearbeitungen</h1>
    <h3>Offene Bearbeitungen</h3>
    <table class="table">
        <thead>
        <th>Bearbeitungsid</th>
        <th>Hochgeladen am</th>
        <th>Url</th>
        <th>Review</th>
        {% if current_user.is_admin() %}
            <th>Löschen</th>
        {% endif %}
        </thead>
        <tbody>
        {% if submissions %}
            {% for sub in submissions %}
                {% if sub.is_open() and not sub.is_claimed() %}
                    <tr>
                        <td>{{ sub.id }}</td>
                        <td>{{ sub.upload_time }}</td>
                        <td><a href="{{ sub.fileurl }}">Datei</a></td>
                        <td>
                            <form method="post" action="/claim_submission">
                                <button type="submit" value="{{ sub.id }}" name="sub_id">Claimen</button>
                            </form>
                        </td>
                        {% if current_user.is_admin() %}
                            <td>
                                <form method="post" action="/admin/delete_submission">
                                    <button type="submit" value="{{ sub.id }}" name="sub_id">Löschen</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>


    <h3>Bearbeitungen, die zur Zeit reviewed werden.</h3>
    <table class="table">
        <thead>
        <th>Bearbeitungsid</th>
        <th>Hochgeladen am</th>
        <th>Url</th>
        <th>Reviewer</th>
        <th>Review</th>
        {% if current_user.is_admin() %}
            <th>Löschen</th>
        {% endif %}
        </thead>
        <tbody>
        {% if submissions %}
            {% for sub in submissions %}
                {% if sub.is_open() and sub.is_claimed() %}
                    <tr>
                        <td>{{ sub.id }}</td>
                        <td>{{ sub.upload_time }}</td>
                        <td><a href="{{ sub.fileurl }}">Datei</a></td>
                        <td>{{ sub.reviewer.username }}</td>
                        <td><a href="/review?submission_id={{ sub.id }}">hinzufügen</a></td>
                        {% if current_user.is_admin() %}
                            <td>
                                <form method="post" action="/admin/delete_submission">
                                    <button type="submit" value="{{ sub.id }}" name="sub_id">Löschen</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <h3>Korrigierte Bearbeitungen</h3>

    <table class="table">
        <thead>
        <th>Bearbeitungsid</th>
        <th>Hochgeladen am</th>
        <th>Korrektor</th>
        <th>Url</th>
        <th>Review</th>
        {% if current_user.is_admin() %}
            <th>Löschen</th>
        {% endif %}
        </thead>
        <tbody>
        {% if submissions %}
            {% for sub in submissions %}
                {% if not sub.is_open() %}
                    <tr>
                        <td>{{ sub.id }}</td>
                        <td>{{ sub.upload_time }}</td>
                        <td>{{ sub.review.reviewer.username }}</td>
                        <td><a href="{{ sub.fileurl }}">Datei</a></td>
                        <td><a href="{{ sub.review.fileurl }}">Datei</a></td>
                        {% if current_user.is_admin() %}
                            <td>
                                <form method="post" action="/admin/delete_submission">
                                    <button type="submit" value="{{ sub.id }}" name="sub_id">Löschen</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
