{% extends "basic_layout.html" %}

{% block app_content %}
    <h1>{{ user.username }}</h1>
    <p>Nächste Bearbeitung: {{ user.get_next_module() }}, Nächte Abgabe: {{ user.get_next_sub() }},
        Gewünscht: {{ user.get_next_subject() }}.</p>
    <p>{% if user.currently_working %}Beschäftigt{% else %}Nicht beschäftigt{% endif %}</p>
    <h3>Bearbeitungen</h3>
    {{ table }}
    <h3>Freigeschaltete Module</h3>
    <ul>
        {% for i in user.unlocked_modules %}
            <li>{{ i.path.replace(url_for("aufgaben_ci.serve_module"), "") }}</li>
        {% endfor %}
    </ul>
{% endblock %}
