{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
{% endblock %}

{% block title %}
    {% if title %} {{ title }} - {% endif %} A Website
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">&forall;</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Hauptseite</a></li>
                <li><a href="{{ url_for("aufgaben_ci.serve_project") }}">Über das Projekt</a></li>
                <li><a href="{{ url_for("main.contact") }}">Kontakt</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for("auth.logout") }}">Abmelden</a></li>
                {% else %}
                    <li><a href="{{ url_for("auth.login") }}">Anmelden</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {{ utils.flashed_messages() }}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
