{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}
    {% if title %} {{ title }} - {% endif %} A Website
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Zirkel</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Hauptseite</a></li>
                <li><a href="{{ url_for("aufgaben_ci.serve_project") }}">Über das Projekt</a></li>
                <li><a href="{{ url_for("main.contact") }}">Kontakt</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {{ utils.flashed_messages() }}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
