{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block html_attribs %}{{ super() }}lang="de"{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
{% endblock %}

{% block title %}
    {% if title %} {{ title }} - {% endif %} &forall;
{% endblock %}

{% block body_attribs %} onload="load_navbar();"{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a type="button" class="navbar-brand" onclick="toggle_navbar()">
                    <input type="hidden" value="false" id="togglestate">
                    <span class="glyphicon glyphicon-chevron-down" id="navbar-toggler"></span>
                </a>
            </div>
            <ul class="nav navbar-nav" class="nav-toggle">
                <li class="active nav-toggle"><a href="/">Hauptseite</a></li>
                <li class="nav-toggle"><a href="{{ url_for("aufgaben_ci.serve_project") }}">Über das Projekt</a></li>
                <li class="nav-toggle"><a href="{{ url_for("main.contact") }}">Kontakt</a></li>
                {% if parent %}
                    <li><a href="{{ parent }}"><span class="glyphicon glyphicon-level-up"></span> Aufwärts</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right nav-toggle ">
                {% if current_user.is_authenticated %}
                    <li class="nav-toggle"><a href="{{ url_for("auth.logout") }}">Abmelden</a></li>
                {% else %}
                    <li class="nav-toggle"><a href="{{ url_for("auth.login") }}">Anmelden</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        {{ utils.flashed_messages() }}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for("static", filename="scripts.js") }}"></script>
{% endblock %}
